<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ikgroup.persistence.activiti.IdentityLinkMapper">
	
	<select id="getStarterOfProcessInstance" parameterType="long" resultType="string">
		SELECT T.USER_ID_
		FROM ACTIVITI.ACT_HI_IDENTITYLINK T
		WHERE T.TYPE_= 'starter' 
		AND T.PROC_INST_ID_= #{instanceId}
	</select>
</mapper>